*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    height:90vh;
    background:rgb(48, 46, 44);
}
.addtask{
    width:100%;
    display:flex;
    padding:10px 0;
}
.addtask>input[type="text"]{
    width:80%;
    color:white;
    border:none;
    border-bottom: :2px solid #666;
    background: none;
    padding: 20px;
    font-size:20px;

}
.addtask button{
    margin:0 10px;
    backgroung:black;
    color:black;
    font-size:18px;
    text-transform: uppercase;
    padding:10px;
    cursor: pointer;
    border-radius:5px;
}
.notcompleted,.completed{
    margin:6px 0;
    padding:22px;
}
h4{
    font-size: :40px;
    text-align:center;
    text-transform:uppercase;
}
ol{
    list-style:none;
    counter-reset: my-counter;
}
ol li{
    width:100%;
    padding:17px;
    margin:6px 0;
    font-size 22px;
    background:#e96969bb;
    counter-increment: my-counter;
}
ol.completed li{
    background:#00ff62;
}
ol li::before{
    content:counter(my-counter);
    background:#231381;
    width:2rem;
    height:2rem;
    border-radius:50%;
    display:inline-block;
    line-height:2rem;
    text-align:center;
    margin-right:0.5rem;
}